.prettyCheckbox {
  background: #efefef;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  width: 20px;

  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
       -o-border-radius: 4px;
          border-radius: 4px;
}

.prettyCheckbox.checked { position: relative; }

.prettyCheckbox.checked .check {
  background: url('img/checkmark-dark.png') no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 100;
}
